.contactUS .grid_1 {
    background: url("../assests/images/bannerBg.png") no-repeat center;
    width: 100%;
  }
  .contactUS .grid_1 .head_1 {
    font-size: 97px;
    font-weight: 800;
    color: var(--text-color);
  }
  .contactUS .grid_1 .text_1 {
    font-size: 22px;
    font-weight: 700 !important;
    margin: 25px auto !important;
    color: var(--text-color);
    width: 1200px;
  }
  .contactUS .grid_1 .button {
    margin: 0 auto;
    width: 250px !important;
    background-color: var(--secondary-color) !important;
    border-radius: 19px !important;
    height: 58px !important;
    color: #fff !important;
    font-size: 22px !important;
    font-weight: 600 !important;
  }

  @media screen and (max-width: 1230px) {
    .contactUS .grid_1 .text_1 {
      width: 90%;
    }
  }
  @media screen and (max-width: 915px) {
    .contactUS .grid_1 .text_1 {
      font-size: 18px;
    }
    .contactUS .grid_1 .head_1 {
      font-size: 46px;
    }
  }
 