/* .dashboard{
    display: flex;
} */

/* .first-sec{
    margin: '12px';
    width: '100%';
    display: 'flex';
    justify-content: 'space-between';
} */

.card2{
    background: transparent;
} 

.card-section:hover {
    background-color: "rgba(25, 118, 210, 0.08)" !important;
    cursor: pointer;
}

@media screen and (max-width: 768px){
    .card1{
        width: 88% !important;
        margin-bottom: 12px;
    }
    .card-Activity{
        height: 368px !important;
    }
}

@media screen and (max-width: 450px){
    .card2{
        width: 88% !important;
        /* margin-bottom: 12px; */
    }
}