@import "./components/componentStyle.css";
@import "./styles/index.css";
/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
:root {
  --text-color: #2c2c2c;
  --secondary-color: #21d0b3;
  --border-color: #2c2c2c;
  --lightGray-color : #666666;
  --lightBlue-color : #1DCDFE;

}

html,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  font-family: var(--font-mada);
  color: var(--text-color);
  border-color: var(--border-color);
}

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
